<% if session[:user_id] %>

	<form action="/users/details/:id" method="post">
		
		<label for="fname">First Name:</label>
		<input type="text" name="fname" id="fname">

		<label for="lname">Last Name:</label>
		<input type="text" name="lname" id="lname">

		<label for="email">Email:</label>
		<input type="text" name="fname" id="fname">

		<label for="password">Password</label>
		<input type="text" name="password" id="password">

		<label for="state">State:</label>
		<input type="text" name="state" id="state">

		<label for="city">City:</label>
		<input type="text" name="city" id="city">

		<label for="bio">Bio:</label>
		<input type="text" name="bio" id="bio">

		<label for="games">Games:</label>
		<input type="text" name="games" id="games">


		<label for="website">Website:</label>
		<input type="text" name="website" id="website">


		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>
		<button type="button">Submit</button>


	</form>
		
		



	<% end %>