  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Dylan's Page</title>
  </head>

  <body>
    
    <div class="col-md-12"></div>


    <div class="col-md-4">    
      <% if session[:user_id] %>
        Welcome, <%= current_user.fname %>
        <br>
          <a href="/users/details/<%= current_user.id %>">Edit Profile</a>
          <a href="/users/delete/<%= current_user.id %>">Delete Account</a>
      <% else %>
      <h1>Welcome to GamR</h1>
       
      <% end %>



  

   

    <% if session[:user_id] %>
    <form action="/posts" method="post">

    
      <textarea type="text" name="body" id="body"  ></textarea>

      <br />
      <br />

      <button type="submit">Create Post</button>
    </form>
  <% end %>

   </div>

    

<!-- The feed -->
  
  <div class="col-md-4">

    <h1 class="feed-header">FEEDERS</h1>
    <ul class="main-feed">
      <% @posts.each do |post| %>
        <li class="all-posts"><%= post.body %></a> 
        
      <% end %>
    </ul>

  </div>

<!-- End of the Feed -->
    
    <div class="col-md-4">
      



    </div>

 