
<div class="col-lg-4"></div>

	

<div class="col-lg-4">
	<h1 class="signup">Sign Up!</h1>
	<form class="sign-up" method="post">

		<div class="first-name form-group"> 
			<label  class="col-form-label col-lg-5" for="first-name">First Name</label>

			<div class="col-lg-10" >
				<input class="form-control " type="text" name="first_name" id="first_name" required>
			</div>
		</div>


		<div class="last-name form-group"> 
			<label  class="col-form-label col-lg-3" for="first-name">Last Name</label>

			<div class="col-lg-6" >
				<input class="form-control " type="text" name="last_name" id="last_name" required>
			</div>
		</div>


		<div class="email form-group"> 
			<label  class="col-form-label col-lg-3" for="first-name">Email</label>

			<div class="col-lg-6" >
				<input class="form-control " type="text" name="email_add" id="email_add" required>
			</div>
		</div>
		<button type="submit">Submit!</button>
		 
	</form>

</div>

	

<div class="col-lg-4"></div>