.form-group{
	display: inline-block; 

}

.main-feed {
	list-style: none;
}

.all-posts{
	border: 2px solid black; 
	padding-top: 50px;
	margin-top: 10px;
	text-align: center;
	padding-bottom: 50px;
}

.featured-video{
	margin-left: 100px;

}
.main-call{
	margin-left: 150px;

}
.call-out{
	margin-left: 60px;
	width: 500px;
}

/*Navbar*/

.controller {
	width: 350px;
	height: auto;
	margin: 0 auto;
	/*display: none;*/
}



.row-bg{
	background-color: black;
}

.feed-header{
	position: relative;
	text-align: center;
}

.bio-box {
	border: 1px solid black;

}

/*profile page*/

.profile-name{
	position: relative;
	text-align: center;
}

.feed {
	list-style: none;
}

.profile-feed{
	border: 2px solid black; 
	padding-top: 3px;
	margin-top: 10px;
	text-align: center;
}

/*parallax */
.parallax { 
    /* The image used */
    background-image: url("/images/press-start.jpg");

    /* Set a specific height */
    height: 470px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

    margin-top: 100px;
  
}

/*account details page*/

.details {
	display: block;
	padding-top: 20px;
}

.detail-button{
	
}

.account-details{
	margin-left: 100px;
}

/*login*/

.sign-in{
	border: 2px solid black;
}


