.form-group{
	display: inline-block; 

}

.main-feed {
	list-style: none;
}

.all-posts{
	border: 2px solid black; 
	padding-top: 3px;
	margin-top: 10px;
	text-align: center;

}

.featured-video{
	margin-left: 100px;

}
.main-call{
	margin-left: 150px;

}
.call-out{
	margin-left: 60px;
	width: 500px;
}

/*Navbar*/

.controller {
	width: 350px;
	height: auto;
	margin: 0 auto;
	/*display: none;*/
}



.row-bg{
	background-color: black;
}

.feed-header{
	position: relative;
	text-align: center;
}

.bio-box {
	border: 1px solid black;

}

/*profile page*/

.profile-name{
	position: relative;
	text-align: center;
}

.feed {
	list-style: none;
}

.profile-feed{
	border: 2px solid black; 
	padding-top: 3px;
	margin-top: 10px;
	text-align: center;
}

/*parallax */
.parallax { 
    /* The image used */
    background-image: url("../images/contact2.jpg");

    /* Set a specific height */
    height: 470px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
  
}

/*  <div class="parallax">
                <div class="content">
                <h2>Featured Video!</h2>
                <p></p>
                </div>

   </div>*/

